  <div class="col-sm-12 col-xs-12 ">
  <div class="col-sm-12" style="padding:0%; text-align: center;color: white; ">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div style="padding-top: 0%;"></div>
      <div style="font-weight: bolder; font-size: 12px;">STARTS IN </div>
      <!-- <div style="font-size: large; font-weight: bolder; color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><countdown [config]="{ stopTime: currentMatch.matchTimeinSec, format: 'HH:mm:ss' }"></countdown>
              </div> -->
      <div
        style="padding: 2%; margin-top: -2%; font-size: medium; font-weight: bolder; color: White; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <countdown [text]="text" units="Days | Hours | Minutes | Seconds" end={{currentMatch.matchTimeinSec}}
          style="border-radius: 10px; background-color: aqua ; padding: 0%; margin: 0;"></countdown>
      </div>
      <div style="margin-top: -8%;font-weight: bolder; font-size: 8px;padding: 0%;">DD : HH : MM : SS </div>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div style="padding: 2%;">
    <div class="col-sm-12"
      style="padding:0%; margin-top :2%; width: 80%; text-align: center;color: rgb(11, 29, 131); width:100%;text-align: center;padding:0%; background-image: linear-gradient(rgb(232, 237, 240),rgb(15, 138, 238)); border-radius: 10px;">
      <div class="col-sm-3" style="padding:0%; ">
        <div style="padding-top:20%; "><span>CREDITS</span></div>
        <div><span>{{credit}}/100</span></div>
      </div>
      <div class="col-sm-6"
        style="width:100%;text-align: center;padding:0%; background-image: linear-gradient(rgb(232, 237, 240),rgb(15, 138, 238)); border-radius: 10px;">
        <div class="col-sm-12" style="padding: 0%;">
          <div class="col-sm-4" style="padding: 0%;text-align: center;"><img [src]="currentMatch.team1pic"
              alt={{currentMatch.team1}} width="100%" /></div>
          <div class="col-sm-1"
            style="text-align: center;padding: 0%; margin-top: 15%; margin-right: 1%; border-radius: 50%; border: 2px ;border-style: solid; border-color: rgb(11, 29, 131); color: rgb(11, 29, 131);">
            {{team1Player}}</div>
          <div class="col-sm-1"
            style="width: 15px;height:6%;text-align: center;padding: 0%; margin-top: 12%; margin-right: 5%;border: 0; border-right: 2px; border-style: solid; border-color: rgb(11, 29, 131); color: rgb(11, 29, 131);">
            &nbsp;</div>
          <div class="col-sm-1"
            style="text-align: center;padding: 0%; margin-top: 15%; margin-left: 1%; border-radius: 50%;border: 2px ;border-style: solid;border-color: rgb(11, 29, 131); color: rgb(11, 29, 131);">
            {{team2Player}}</div>
          <div class="col-sm-4" style="text-align: center;padding: 0%;"><img [src]="currentMatch.team2pic"
              alt={{currentMatch.team2}} width="100%" /></div>
        </div>
        <div class="col-sm-12" style="text-align: center;color: rgb(11, 29, 131); ">Captain gets 2X
          Pts<br />Vice-Captain gets 1.5X Pts</div>
      </div>
      <div class="col-sm-3" style="padding:0%; ">
        <div style="padding-top:20%; "><span>PLAYERS</span></div>
        <div><span>{{team.length}}/11</span></div>
      </div>

    </div>
  </div>

  <div *ngIf="team" style="padding: 2%; height: 60vh;">
    <div class="scroll">
      <div class="col-sm-12 grid" *ngFor="let player of team">
        <div class="col-sm-3 playerMenu" *ngIf="player.playerRole==='WICKETKEEPER'" style="margin-right:5%;">WK</div>
        <div class="col-sm-3 playerMenu" *ngIf="player.playerRole==='ALLROUNDER'" style="margin-right:5%;">ALL</div>
        <div class="col-sm-3 playerMenu" *ngIf="player.playerRole==='BATSMAN'" style="margin-right:5%;">BAT</div>
        <div class="col-sm-3 playerMenu" *ngIf="player.playerRole==='BOWLER'" style="margin-right:5%;">BALL</div>
        <div class="col-sm-4">{{player.displayName}}<br />{{player.nationality}}</div>
        <div class="col-sm-1" style="width: 100%; margin-left:5%; padding-top:2%;">XX{{player.point}}</div>
        <div *ngIf="captain === player; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="col-sm-2 playerMenuButton"
            style="margin-left:10%;background-color: rgb(11, 29, 131);color: white;">C</div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="col-sm-2 playerMenuButton" style="margin-left:10%;" (click)="setCaptain(player)">C</div>
        </ng-template>
        <div *ngIf="vicecaptain === player; then thenBlock1 else elseBlock1"></div>
        <ng-template #thenBlock1>
          <div class="col-sm-2 playerMenuButton"
            style="margin-left:10%;background-color: rgb(11, 29, 131);color: white;">VC</div>
        </ng-template>
        <ng-template #elseBlock1>
          <div class="col-sm-2 playerMenuButton" style="margin-left:10%;" (click)="setViceCaptain(player)">VC</div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="col-sm-12" style="top: 10%;">
    <div class="col-sm-2"></div>
    <div class="col-sm-3 matchMenu" style="margin-right: 5%;margin-left: 5%;" (click)="back()">BACK</div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3 matchMenu" style="margin-right: 5%;margin-left: 5%;" (click)="saveAndNext()">DONE</div>
    <div class="col-sm-2"></div>
  </div>
</div>