.gameplay{
    border-color: white; 
    border-width: 2px; 
    border-style: solid; 
    border-radius: 10px; 
    background-color: rgba(64, 64, 219, 0.884); 
    height: 40vmax; 
    padding: 0%;
    padding-left: 2%;
    padding-right: 2%; 
    margin: 0%; 
    text-align: center;
}