.gameplay{
    border-color: white; 
    border-width: 2px; 
    border-style: solid; 
    border-radius: 5px; 
    background-color: rgb(18, 39, 109); 
    height: 40vmax; 
    padding: 0%;
    margin: 0%; 
    text-align: center;
    
}

.bottomMenu{
    text-align: center; top: 10%;font-size: xx-small;padding: 0%;
    cursor: pointer;
}

.bottomMenu:hover {
    background-color: rgba(76, 76, 233, 0.986); 
    color: white;
  }

  .matchMenu{
    color:white;
    border-style: ridge; 
    border-radius: 10px; 
    border-color: white;
    border-width: 1px; 
    background-color: rgb(13, 72, 182);
    cursor: pointer;
}

.matchMenu:hover {
    background-color:  rgb(11, 55, 136);
  }

  .scroll{
    overflow-y: scroll; padding : 1%; scrollbar-width: none; height: 70%;
}

.scroll{
    -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.playerMenu{
    cursor: pointer; height:8%; color: rgb(11, 29, 131); width:11%; text-align: center; padding: 0%;border-radius: 50%; border: 2px ; background-image: linear-gradient(rgb(232, 237, 240),rgb(83, 169, 240));
}

.playerMenu:hover {
    background-image: linear-gradient(rgb(8, 138, 214),rgb(7, 70, 122));
    color: white;
}

.grid{
    padding: 0%; padding-top:1%;margin-bottom: 2px; background-image: linear-gradient(rgb(162, 200, 231),rgb(240, 242, 243));
}

.grid:hover{
    background-image: linear-gradient(rgb(64, 148, 197),rgb(92, 172, 236));
    color: white;
}