p {
    font-family: Lato;
}

.background-image {
    background-image: url("/assets/back.jpg");
    background-size: cover;
    .content {
        height: 100%;  
        padding: 5rem 0rem;
    }
}
.gameplay{
    display: flex;
    // flex-direction: column;
    border-color: white; 
    border-width: 2px; 
    border-style: solid; 
    border-radius: 5px; 
    background-color: rgb(18, 39, 109); 
    // height: 40vmax; 
    padding: 0%;
    margin: 0%; 
    text-align: center; 
}