.selected_player {
    font-weight: bolder;
    background-color: white;
    color: blue;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;justify-content: center;
    align-items: center;
    display: flex;
}
.selected_no {
    margin-left: 2rem;
    font-size: smaller;
    background-color: rgb(21, 153, 230);
    color: white;
    border-radius: 50%;
    margin-top: -1rem;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomMenu{
    text-align: center; top: 10%;font-size: xx-small;padding: 0%;
    cursor: pointer;
}

.bottomMenu:hover {
    background-color: rgba(76, 76, 233, 0.986); 
    color: white;
  }

  .matchMenu{
   width: 100%;
   color: wheat;
   border-radius: 10px;
   border: 1px solid white;

}

.matchMenu:hover {
    background-color:  rgb(11, 55, 136);
  }

.scroll{
    -ms-overflow-style: none;
    height: 12vh!important;
}

.scroll::-webkit-scrollbar {
    display: none;
}
.grid_scroll {
    -ms-overflow-style: none;
    height: 3vh;
    overflow-y: scroll; 
    scrollbar-width: none; 
}
.grid_scroll::-webkit-scrollbar {
    display: none;
}
.creadits_players_container {
     background-image: linear-gradient(rgb(232, 237, 240),rgb(15, 138, 238));
    border-radius: 20px;margin: 0.5rem;
}
.creadits_players {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.team_player {
    display: flex;align-items: center;
    .team_player_sub {
        border-radius: 50%; 
        border: 2px ;
        border-style: solid; 
        border-color: rgb(11, 29, 131); 
        color: rgb(11, 29, 131);
        width: 3rem;
        height: 3rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
.team_player_div {
    margin: 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .team_player_div_sub {
        border-right: 1px solid rgb(11, 29, 131);
        height: 2rem;
    }
}
.grid{
    padding: 0%; 
    padding-top:1%;
    margin-bottom: 2px; 
    background-image: linear-gradient(rgb(162, 200, 231),rgb(240, 242, 243));
    height: 3rem;
}

.grid:hover{
    background-image: linear-gradient(rgb(64, 148, 197),rgb(92, 172, 236));
    color: white;
}