<div class="col-sm-12 col-xs-12 footer-container display_mobile">
    <div class="col-sm-3 col-xs-3 bottomMenu">
      <div><mat-icon >home</mat-icon></div>Home
    </div>
    <div class="col-sm-3 col-xs-3 bottomMenu">
      <div><mat-icon >account_box</mat-icon></div>Profile
    </div>
    <div class="col-sm-3 col-xs-3 bottomMenu">
      <div><mat-icon >assignment</mat-icon></div>Contests</div>
    <div class="col-sm-3 col-xs-3 bottomMenu">
      <div><mat-icon>menu</mat-icon></div>Menu</div>
  </div>