.bottomMenu{
    text-align: center;
    font-size: xx-small;
    cursor: pointer;
    width: 7rem;
}

.bottomMenu:hover {
    background-color: rgba(76, 76, 233, 0.986); 
    color: white;

  }
  .footer-gameplay {
    // position: sticky;
    font-weight: bold; 
    text-align: center;
    // height: 5rem; 
    background-image:linear-gradient(rgba(83, 83, 247, 0.986),rgb(7, 7, 112, 0.884)); 
    padding: 0%; 
    color: white; 
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: space-around;
  }