.gameplay{
    border-color: white; 
    border-width: 2px; 
    border-style: solid; 
    border-radius: 5px; 
    background-color: rgb(18, 39, 109); 
    height: 40vmax; 
    padding: 0%;
    margin: 0%; 
    text-align: center;
    
}

p{
    padding: 0%;
    margin: 0%;
}

.scroll{
    overflow-y: scroll; padding : 1%;scrollbar-width: none; height: 90%;
}

.scroll{
    -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.bottomMenu{
    text-align: center; top: 10%;font-size: xx-small;padding: 0%;
    cursor: pointer;
}

.bottomMenu:hover {
    background-color: rgba(76, 76, 233, 0.986); 
    color: white;

  }

.matchMenu{
    color:white;
    border-style: ridge; 
    border-radius: 10px; 
    border-color: white;
    border-width: 1px; 
    background-color: rgb(13, 72, 182);
    cursor: pointer;
}

.matchMenu:hover {
    background-color:  rgb(11, 55, 136);
  }

