.scroll{
    -ms-overflow-style: none;
    height: 23vh!important;
}

.scroll::-webkit-scrollbar {
    display: none;
}
.grid_scroll {
    -ms-overflow-style: none;
    height: 3vh;
    overflow-y: scroll; 
    scrollbar-width: none; 
    text-align: left;
}
.grid_scroll::-webkit-scrollbar {
    display: none;
}

.gameplay{
    display: flex;
    // flex-direction: column;
    border-color: white; 
    border-width: 2px; 
    border-style: solid; 
    border-radius: 5px; 
    background-color: rgb(18, 39, 109); 
    // height: 40vmax; 
    padding: 0%;
    margin: 0%; 
    text-align: center;
    .header_icon {
        text-align: center; 
        background-image:linear-gradient(rgb(12, 14, 136),rgb(46, 59, 131)); 
        padding: 0.5rem;
        color: white; 
        border-radius: 5px 5px 0px 0px;
        img {
            width: 8rem;        
        }
    }   
    .team {
        padding-top: 1rem;
        font-weight: bolder; 
        font-size: 12px; 
        color: blue;
    }
    .starts_in {
        font-weight: bolder; 
        font-size: 12px; 
        padding: 0%;
    }
}

.team_player {
    display: flex;align-items: center;
    .team_player_sub {
        border-radius: 50%; 
        border: 2px ;
        border-style: solid; 
        border-color: rgb(11, 29, 131); 
        color: rgb(11, 29, 131);
        width: 3rem;
        height: 3rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
.team_player_div {
    margin: 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .team_player_div_sub {
        border-right: 1px solid rgb(11, 29, 131);
        height: 2rem;
    }
}
.grid{
    padding: 0%; 
    padding-top:1%;
    margin-bottom: 2px; 
    background-image: linear-gradient(rgb(162, 200, 231),rgb(240, 242, 243));
    height: 3rem;
}

.grid:hover{
    background-image: linear-gradient(rgb(64, 148, 197),rgb(92, 172, 236));
    color: white;
}