<div class="gameplay">
    <div class="col-sm-12 header_icon">
      <img src="./assets/LOGO2.png"/>
    </div>
  
    <div style="text-align: center;color: white; font-weight: bold; font-size: smaller; width: 500px; height: 562px;background-repeat: no-repeat; background-image: url(./../../assets/ground.png); background-position: center; background-size: 500px 562px">
         
        <div class="col-sm-12" style="padding:3%;color: white; font-weight: bold; font-size: medium;">WICKET KEEPER</div>
                <div *ngIf="wk" style="padding: 5%; margin: 2px;text-align: center;">
                    <div class="col-sm-2" *ngFor="let player of wk" >   
                        <div style="padding: 0%;"><img src="./assets/India.png" width="50%"/></div>
                        <div style="padding: 0%;">{{player.displayName}}</div>    
                    </div>
                  </div>
                  <div class="col-sm-12" style="padding:3%;color: white; font-weight: bold; font-size: medium;">BATSMEN</div>
                  <div *ngIf="bat" style="padding: 5%; margin: 2px;text-align: center;">
                    <div class="col-sm-2" *ngFor="let player of bat" style="margin-right: 2px; margin-left: 2px;"> 
                        <div style="padding: 0%;"><img src="./assets/India.png" width="50%"/></div>
                        <div style="padding: 0%;">{{player.displayName}}</div>           
                    </div>
                  </div>
                  <div class="col-sm-12" style="padding:3%;color: white; font-weight: bold; font-size: medium;">ALLROUNDERS</div>
                  <div *ngIf="ar" style="padding: 5%; margin: 2px;text-align: center;">
                    <div class="col-sm-2" *ngFor="let player of ar">
                        <div style="padding: 0%;"><img src="./assets/India.png" width="50%"/></div>
                        <div style="padding: 0%;">{{player.displayName}}</div>            
                    </div>
                  </div>
                  <div class="col-sm-12" style="padding:3%;color: white; font-weight: bold; font-size: medium;">BOWLERS</div>
                  <div *ngIf="ball" style="padding: 5%; margin: 2px;text-align: center;">
                    <div class="col-sm-2" *ngFor="let player of ball">
                        <div style="padding: 0%;"><img src="./assets/India.png" width="50%"/></div>
                        <div style="padding: 0%;">{{player.displayName}}</div>            
                    </div>
                  </div>       
    </div>
      
  <app-footer></app-footer>
  </div>
  
  
  
  